body {
  background-color: #607D8B;
  font-family: 'Open Sans', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

h1 {
  text-align: center;
  font-family: 'Fredericka the Great', cursive;
  font-size: 72px;
}

label {
  font-weight: 600;
}

.valores {
  margin-right: 100px;
}

p {
  max-width: 40vw;
}

.inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  background-color: #2196F3;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  transition: background-color 500ms;
}

button:hover {
  background-color: #0479d9;
}
